[package]
name = "block_puzzles"
version = "0.1.0"
edition = "2021"

[dependencies]
rand = "0.9.0"
ahash = "0.8.12"
itertools = "0.14.0"

[profile.release]
lto = true
opt-level = 3
codegen-units = 1
panic = 'abort'
strip = true